html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;

  min-width: 1200px; 

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;


  /*background-color: #ffffff;*/
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  position: relative;
  width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
 }

.main-header {
  background-color: #eeeeee;
 }

.page-title {
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  color:#000000;
  
}

.page-title-container {
  padding-top: 98px;
  padding-bottom: 116px;
  background-color: #eeeeee;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  font: inherit;
  display: block;
  text-transform: uppercase;

  color:#ffffff;
  background-color: #fb565a;
  font-size: 16px;
  line-height: 18px;
  width: 160px;
  height: 50px;
  font-weight: 400px;
  border: none;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  /*background-color: #eeeeee;*/
}

.main-header-logo {
  margin: 0;
  padding: 0;
 }

.main-header-logo:hover path {
  opacity: 0.8;
}

.main-header-logo:active path {
  opacity: 0.3;
}


.site-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content:space-around;
  align-items: flex-end;
  list-style: none;
}

.site-navigation li {
  margin-right: 45px;
}

.user-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content:space-around;
  align-items: flex-end;
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  display: block;
  font-size: 16px;
  line-height: 30px;
 /* padding-right: 45px;*/
  color: #000000;
  text-transform: uppercase;
  text-align: left;
  font-weight: 500;
  
  list-style: none;

  /*background-color:#eeeeee;*/
}

.site-navigation a:hover,
.site-navigation a:focus, 
.user-navigation a:hover,
.user-navigation a:focus {
  color:#fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color:rgba(0, 0, 0, 0.3);
}

.user-navigation .card-link {
  position: relative;
  padding-left: 50px;
  padding-right: 0px;
  
}

.card-link::before {
  content: "";

  position: absolute;
  top: 7px;
  left: 5px;

  width: 15px;
  height: 15px;

  background-image:url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  background-color: #dee9e4;
 }

/*Часть главной страницы со слайдером*/
.grey-background-color {
  background-color: #eeeeee;
  padding-top: 10px;
}

.slider {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;

  background-color: #eeeeee;
}

.how {
  font-size: 55px;
  line-height: 55px;
  
  margin:0;
  padding-top: 85px;
}
 
.title-one {
  padding-top: 67px;
}

.title-two {
  padding-top: 84px;
}

.title-three {
  padding-top: 67px;
}

.perfect-design{
  width: 370px;
  padding-top: 28px;
  margin:0;
}
 
.left-part-button{
  display: block;
  width:240px;
  height:50px;
  line-height: 50px;
  margin-top: 42px;
  text-align: center;
  background-color: #fb565a;
  color:#ffffff;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}
 
.slide-one {
  background-image:url("../img/slide-picture-one.png");
  background-repeat: no-repeat;
  background-position: right;
  height:413px;
  
}

.slide-two {
  background-image:url("../img/slide-picture-two.png");
  background-repeat: no-repeat;
  background-position: right;
  height: 430px;
  margin-top: 70px;
  display: none;
}

.slide-three {
  background-image:url("../img/slide-picture-three.png");
  background-repeat: no-repeat;
  background-position: right;
  height: 413px;
  margin-top: 168px;
  margin-bottom: 82px;
  display: none;
}

.slider-switch {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;

  width: 126px;
  height: 40px;
  justify-content: space-evenly;
  align-items: center;
  z-index: 3;
  position: absolute;
  top: 269px;
  left: 567px;
}

.slider-ring {
  width: 18px;
  height: 18px;
  border-radius: 9px;
  background-color: #ffffff;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.current-slider-ring {
  position: relative;
}

.current-slider-ring::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 4px;
  border: 2px solid #c9c9c9;

  position: absolute;
  top: 5.5px;
  left: 5.5px;
  
}

/*Третья часть главной страницы, 
"Вебсайты, приложения, презентации"*/
.page-title {
  margin: 0;
  padding: 0;
}

.catalog-main {
  margin: 0;
  padding: 0;
}

.catalog-list {
  margin: 0;
  padding: 0;
  display:flex;
  justify-content:flex-start;
  margin-top: 80px;
}

.catalog-item {
  margin: 0;
  padding: 0;
  margin-right: 100px;
  
  display: block;
  list-style: none;
  text-align: left;
  color:#000000;
  background-color: #ffffff;
  width: 300px;
  min-height: 427px;
   
  flex-wrap: wrap;
}

.catalog-item h3{
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog-content {
  width: 300px;
  height: 146px;

  background-color: #ffffff;
}

.catalog-slogan {
  width: 260px;
}

.button-red {
  background-color: #fb565a;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  font-weight: 400;
  color:#ffffff;
  width:160px;
  height: 50px;
  line-height: 50px;
}

.button-red:hover,
.button-red:focus {
  background-color: #e74246;
}

.button-red:active {
  background-color:#d7373b;
  color:rgba(255, 255, 255, 0.3); 
  box-shadow:inset 0px 3px 0px 0px rgba(0, 1, 1, 0.1)
}

.button-green {
  background-color: #00ca74;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  font-weight: 400;
  color:#ffffff;
  width:160px;
  height: 50px;
  line-height: 50px;
}

.button-green:hover,
.button-green:focus {
  background-color: #00bc6c;
}

.button-green:active {
  background-color:#00aa62;
  color:rgba(255, 255, 255, 0.3); 
  box-shadow:inset 0px 3px 0px 0px rgba(0, 1, 1, 0.1)
}

.button-yellow {
  background-color: #efc84a;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  font-weight: 400;
  color:#ffffff;
  width:160px;
  height: 50px;
  line-height: 50px;
}

.button-yellow:hover,
.button-yellow:focus {
  background-color: #eab534;
}

.button-yellow:active {
  background-color:#e5a722;
  color:rgba(255, 255, 255, 0.3); 
  box-shadow:inset 0px 3px 0px 0px rgba(0, 1, 1, 0.1)
}

/*Стили четвёртой части главной страницы,
это та часть, где есть красивая цветная картинка 
с логотипом Нёрдс*/

.fourth-part {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 525px;
  border-top: 2px solid #eeeeee;
  }

.left-side-fourth-part {
  display: flex;
  flex-direction: column;
  width: 660px;
}

.who-we-are {
  box-sizing: border-box;
  text-transform: none;
  font-size: 45px;
  line-height: 45px;
  text-align: left;
  font-weight: 500;
  color:black;
  width:660px;
  height: 87px;
  margin-top: 80px;
  margin-bottom: 35px;

  padding: 0;
}

.principles {
  box-sizing: border-box;
  text-transform: none;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  font-weight: 400;
  color:#283136;
  
 
  margin-bottom: 40px;
}

.what {
  box-sizing: border-box;
  text-transform: none;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  font-weight: 700;
  color: #000000;
  width:650px;
  margin-bottom: 15px;
}
 
.what-list {
  list-style: none;
}

.what-item {
  position: relative;
  display: block;
  margin-bottom: 20px;
  color: #283136;
  font-weight: 400px;
}

.what-item::before {
  content:"";
  background-color: #fb565a;
  position: absolute;
  display: block;
  left: -35px;
  top: 10px;

  height: 2px;
  width: 26px;
}

.right-side-fourth-part {
  display: flex;
  flex-direction: column;
  width: 360px;
}

.picture-nerds {
  box-sizing: border-box;
  margin-top: 40px;
  margin-bottom: 40px;

}

.year {
  box-sizing: border-box;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  font-weight: 700;
  color: #000000;
  width:330px;
  margin-bottom: 49px;
  margin-right: 15px;
}

.percentes {
  display: flex;
  flex-wrap: wrap;
  width: 360px;
  justify-content: space-between;
}

.percentes-item {
  box-sizing: border-box;
  display: block;
  text-transform: none;
  font-size: 45px;
  line-height: 30px;
  text-align: left;
  font-weight: 700;
  color: #000000;
 
  margin-bottom: 40px;
}

.small {
  font-size: 25px;
  font-weight: 700;
}

.percentes-mean {
  display: flex;
  flex-wrap: wrap;
  width: 380px;
  justify-content: space-between;
  list-style: none;
  color:#283136;
}

.percentes-mean-item {
  box-sizing: border-box;
  text-transform: none;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  font-weight: 400;
  text-transform: none;
  color:#283136;
  width: 110px;
  height: 33px;
  
}

/*пятая часть главной страницы, это часть с четырьмя логотипами*/

.fifth-part {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items:center;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  position: relative;
  list-style: none;
}

.first-logo {
  width:199px;
  height: 68px;
  margin-top:62px;
  margin-bottom: 50px;
  
  opacity: 0.3;  
}
 
.fifth-part li {
  position: relative;
}

.second-logo {
  box-sizing:content-box;
  width:209px;
  height: 90px;
  
  opacity: 0.3;
}

.line-one::before {
  content:"";
  
  background-color:#eeeeee;
  position: absolute;
  display: block;
  left: -45px;
  top: 15px;
  
  width: 3px;
  height: 52px;
}

.line-one::after {
  content:"";
  background-color:#eeeeee;
 
  position: absolute;
  display: block;
  right: -45px;
  top: 15px;
  
  width: 3px;
  height: 52px;
}

.third-logo {
  box-sizing:content-box;
  width:185px;
  height: 52px;
  
  opacity: 0.3;
}

.line-two::after {
  content:"";
  background-color: #eeeeee;
  position: absolute;
  display: block;
  right: -45px;
  top: -5px;
  
  width: 3px;
  height: 52px;
}

.fourth-logo {
  box-sizing:content-box;
  width:173px;
  height: 84px;
  
  padding: 0;
  opacity: 0.3;
}

.view-change:hover,
.view-change:focus {
  opacity: 1.0;
}

.view-change:active {
  opacity: 0.1;
}

/*шестая часть главной страницы, с картой*/

.map {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;
  width: 1440px;

  margin: 80px auto;
  margin-bottom: 0px;
  }

/*Окно на карте*/

.map-contacts {
  position: absolute;
  left: 140px;
  top: 54px;
  z-index: 2;

  display: inline-flex;
     
  width: 319px;
  height: 308px;
  padding: 40px 50px;
  background-color: #ffffff;  
}

.studio-name {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  box-sizing: border-box;
  display: block;

  width: 300px;
  height: 35px;
  padding: 0;
  margin-bottom: 28px;
  padding-bottom: 20px;
}

.studio-address {
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #666666;
  font-weight: 400;
  text-transform: none;
  font-style: normal;
  display: block;
  box-sizing: border-box;
  padding: 0;
  padding-top: 20px;
  margin-bottom: 14px;
  width: 205px;
}

.studio-tel {
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #666666;
  font-weight: 400;
 
  box-sizing: border-box;
  display: inline;
  text-transform: lowercase;
 
  padding: 0;
}

.studio-tel-a{
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #666666;
  font-weight: 400;

 
  box-sizing: border-box;
  display: inline;
  padding: 0;
  padding-left: 5px;
}
 .button-map{
  background-color: #fb565a;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  font-weight: 500;
  color:#ffffff;
  width: 219px;
  height: 50px;
  line-height: 50px;

  margin-top: 30px;
}

.button-map:hover,
.button-map:focus {
  background-color:#e74246;
}

.button-map:active {
  background-color:#d7373b;
  color:rgba(255, 255, 255, 0.3);
}

    
.marker {
  position: absolute;
  left:820px;
  top:89px;
  width: 231px;
  height: 190px;
  z-index: 2;
  background-color: transparent;
}



/*рамки вокруг фильтров и карточек каталога
и стиль названий рамок фильтров*/
.middle-part-page {
  margin: 0;
  padding:0;
  
  display: flex;
}

/*полоска в меню, которая появляется, когда мы находимся
на странице каталога*/

.shop_page::after {
  content:"";
  position: absolute;
  width: 74px;
  height: 2px;
  background-color: #fb565a;

  top: 70px;
  display: none;
}

.shop_page:active::after {
  background-color: #fb565a;
  display: block;
}

.filters {
  margin: 0;
  padding:0;
  width: 261px;
  margin-right: 100px;
}

.filters fieldset {
  border: none;  
}

/*текст заголовков фильтров "Стоимость" и "Особенности"*/
.filters legend {
  font-size:18px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;

  text-transform: uppercase;

  margin-left: -12px;
 }

/*текст подписей к фильтрам "Стоимость"
и "Особенности" */

.filters .option {
  font-size:16px;
  font-weight: 400;
  line-height: 20px;
  color:#283136;
  margin-bottom: 15px;

  display: block;
}

/*надписи над правой частью страницы catalog,
там, где у нас две колонки главных страниц сайтов*/

.sorting {
  display: flex;
}

.text-sorting {
  display: block;
  width:360px;
  margin-left: 40px;
  margin-top: 60px;
  margin-bottom: 60px;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
}

.center-sorting {
  display: flex;
  margin-left: 40px;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-right: 0px;
  justify-content: space-between;
  list-style: none;
  padding: 0px;
  padding-right: 50px;

  width:320px;
}

.sort a{
  display: block;
  font-size: 14px;
  line-height: 18px;
  color:rgba(0, 0, 0, 0.3);
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
  padding: 0px;
}

.sort a:hover,
.sort a:focus {
  color:rgba(0, 0, 0, 0.6);
}

.sort a:active {
  color: #000000;
}

.right-sorting {
  display: flex;
  margin-left: 0px;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-right: 0px;
  justify-content: space-between;
  list-style: none;
  padding: 0px;

  width:40px;
}

.arrow {
  opacity: 0.3;
}

.arrow:hover,
.arrow:focus {
  opacity: 0.6;
}

.arrow:active {
  opacity: 1.0;
}

.catalog-list-page-catalog {
  margin: 0;
  padding:0;
  display: flex;
  flex-wrap: wrap;
}


/* сложный фильтр (первый) на странице catalog*/
.filter-item {
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 330px;
  margin: 0;
  padding: 0;
}

.name-filter-compl {
  display:block;
  width: 120px;
  height: 20px;
  margin-top: 56px;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.18px;
  color:#000000;
}

.range-filter {
  display: block;
  width: 260px;
  height: 250px;
}

.range-controls {
  position: relative;
  display: block;
  margin-top: 69px;
  width: 261px;
  height: 90px;
  height: 81px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.scale {
  position: absolute;
  top:40px;
  display: block;
  height: 2px;
  width: 260px;

  background: #d7dcde;
}

.bar {
  position: absolute;
  
  width: 70%;
  height: 2px;
  margin-left: 10%; 
  width: 55%;
  background: #00ca74;
}

.toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow:inset 9 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
  }

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  position:relative;
  font-size: 0;
  margin-top: 13px;
}

.price-controls label {
  display: flex;
  width: 50%;
  position: relative;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 38px;
  padding-left: 15px;
}

.price-controls input {
  display: block;
  position: absolute;
  right: 0px;
  width: 80px;
  height:38px;
  

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
 }

.max-price {
   display: block;
}

.min-price {
  display: block;
}
/* Второй фильтр (сетки),
то есть радиобатоны */

.radio {
  padding-left: 1.2em;
}

.radio_input {
  position:absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.radio_box {
  position: absolute;
  margin-left: -1.9em;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  opacity: 0.4;
 }
 
/* когда у нашего инпута состояние чект, то есть стоит галочка,
то у нас должна быть картинка с галочкой и на неё ничего не наведено,
прозрачность 0.4*/

.radio_input:checked + .radio_box {
  background-image: url("../img/radio-on.svg"); 
  opacity: 0.4;
}

/* когда у нашего инпута состояние незачеканное, 
но на него когда наведена мышка на кнопку или 
или надпись (состояние hover), прозрачность должна поменяться
на 1.0*/

.radio_input:hover + .radio_box {
  background-image: url("../img/radio-off.svg");
  opacity: 1.0;
}

/*когда у нашего инпута состояние зачеканное,
и на него наведена мышка на кнопку или на надпись (состояние hover),
прозрачность должна поменяться на 1.0*/

.radio_input:checked:hover + .radio_box {
  background-image: url("../img/radio-on.svg");
  opacity: 1.0;
}

.option {
  display: block;
  margin-bottom: 6px; 
}

.check {
  padding-left: 22px;
}

.check_input {
  position:absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/*картинка квадратиком имеет прозрачность 0.4, когда
на неё ничего не наведено*/

.check_box {
  position: absolute;
  margin-left: -35px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.4;
 }
 
/* когда у нашего инпута состояние чект, то есть стоит галочка,
то у нас должна быть картинка с галочкойи на неё ничего не наведено,
прозрачность 0.4*/

.check_input:checked + .check_box {
  background-image: url("../img/checkbox-on.svg"); 
  opacity: 0.4;
}

/* когда у нашего инпута состояние незачеканное, 
но на него когда наведена мышка на кнопку или 
или надпись (состояние hover), прозрачность должна поменяться
на 1.0*/

.check_input:hover + .check_box {
  background-image: url("../img/checkbox-off.svg");
  opacity: 1.0;
}

/*когда у нашего инпута состояние зачеканное,
и на него наведена мышка на кнопку или на надпись (состояние hover),
прозрачность должна поменяться на 1.0*/

.check_input:checked:hover + .check_box {
  background-image: url("../img/checkbox-on.svg");
  opacity: 1.0;
}

/*Disabled*/
/*Данное состояние пока не работает, поскольку 
кнопок, которые заблокированы, я на макете пока не вижу, 
но стили для таких кнопок проведены и работают
Так же сделан соответствующий HTML-код
когда инпут задизаблен, у нас прозрачность падает до 0.1
*//*
.check_input:disabled + .check_box {
  background-image: url("../img/checkbox-off.svg");
  opacity: 0.1;
}

.check_input:checked:disabled + .check_box {
  background-image: url("../img/checkbox-on.svg");
  opacity: 0.1;
}


/*когда инпут задизаблен, 
текст меняет цвет на rgba(40,49,54,0.3),
задача изменения цвета текста в зависимости от того, 
задизаблен или нет мой инпут, у меня на 25.02.2020 не решена*/
/*.check_input:disabled /* что здесь ставить - не понятно*/ /*{
  rgba(40,49,54,0.3)
}

.check_input:checked:disabled /* что здесь ставить - не понятно*/ /*{
  rgba(40,49,54,0.3)
*/

/*кнопка фильтра*/
.filter-button {
  background-color: #eeeeee;
  color:#000000;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  width: 260px;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.filter-button:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
  box-shadow:inset 0px 3px 0px 0 px rgba(0, 0, 0, 0.3);
}

/*секция с карточками каталога*/
.catalog-item-page-catalog {
  margin: 0;
  padding:0;

  width: 360px;
  padding-top: 40px;
   
  display: flex;
  flex-direction: column;
  position:relative;

  margin-left:40px;
  margin-bottom: 33px;

}

/*серая полоска над главной страницей продаваемых сайтов,
полоска меняет цвет при действиях с ней, называется browser*/

.catalog-item-page-catalog::before {
  content: "";

  position: absolute;
  top: 0px;
  left: 0px;

  width: 360px;
  height: 40px;

  background-image:url("../img/browser.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.12;
  background-color:#ffffff;
}

.catalog-item-page-catalog:hover::before, 
.catalog-item-page-catalog:focus::before {
  opacity: 1.0;
}

.card {
  position:absolute;
  bottom: 0;
  
  background-color: #eeeeee;
  width: 360px;
  height: 231px;
  
  padding: 35px 50px 43px;

  display: none;
}

.catalog-item-page-catalog:hover .card{
  display: flex;
  z-index: 2;
  flex-direction: column;
  align-items: center;
}

.a_card_title {
  display: flex;
  margin-bottom:25px;
 
  width: 90x;
  height: 14px;
}

.card-title:hover{
  color:#fb565a;
}

.cart-title:active{
  color:rgba(0, 0, 0, 0.3);
}

.card-title {
  padding: 0;
  margin: 0;
  
  color:#000000;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto";
  
  width: 71x;
  height: 13px;

  margin-bottom: 30px;
}

.card-information {
  display: block;
  padding: 0;
  margin: 0;
  color:#666666;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: none;
  font-family: "Roboto";
 
  min-width: 200px;
  height: 34px;
  
  margin-bottom: 30px;
}

.card-button {
  display: block;

  background-color: #fb565a;
  color:#ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: none;
  width: 200px;
  height: 50px;
  
  font-family: "Roboto";
  line-height: 50px;
}

/*стили для пагинации на странице каталога*/
.pagination-list {
  display: flex;
  flex-wrap: wrap;
   
  padding: 0;
  margin: 0;

  margin-left: 40px;
  list-style: none;
}

.pagination-item {
  margin-right: 11px;
}

.pagination-item a{
  display: block;
  width: 50px;
  height: 50px;

  color: #000000;
  background-color: #eeeeee;

  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 50px;
}

.pagination-item-next a{
  margin-right: 0;
  width: 260px;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  background-color: #ffffff;
}

.pagination-item-current a {
  background-color: #ffffff;
  border: 3px solid #eeeeee;
  line-height: 44px;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  border: 3px solid #eeeeee;
  background-color: #ffffff;
}

/*стили для подвала*/
.main-footer {
  color: #444444;
  font-size: 16px;
  line-height: 22px;

  background-color: white;
}

.footer-pre-social {
  display: flex;
  justify-content: flex-start;
}

.footer-social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  width: 300px;
  height: 218px;
}

.social-button {
  display: flex;
  width: 79px;
  height: 79px;
  background-color: #e1e1e1;
  text-decoration: none;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  background-color:#d7373b;
  box-shadow:inset 0px 3px 0px 0px rgba(0, 1, 1, 0.1)
}

.social-button:active path {
  opacity: 0.3;
}

.footer-words {
  margin: 0;
  padding: 0;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
}

.footer-slogan {
  margin: 0;
  padding: 0;
  color: black;
  text-align: left;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  text-transform: none;
  font-weight:700;
  margin-bottom: 12px;
}

.footer-sales {
  margin: 0;
  padding: 0;
  color: #444444;
  text-align: left;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 22px;
  text-transform: none;
}

/*модальное окно*/

.modal {
  position: fixed;
  color:#000000;
  background-color: #ffffff;
  box-shadow: 0px 20px 40px rgba(0, 1, 1, 0.75);

  left: 50%;
  margin-left: -480px;
  bottom: 180px;

  padding: 73px 100px;

  box-sizing: border-box;
  width: 960px;
  height: 590px;

  display: none;
  z-index: 6;
}

.modal-close {
  position: absolute;
  top: 78px;
  right: 90px;

  width: 21px;
  height: 21px;

  background-color:#ffffff;
  border: 0;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 10px;
  left: 2px;

  width: 19px;
  height: 3px;

  background-color: red;
  opacity: 0.3;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-close:hover::before,
.modal-close:hover::after{
  background-color: red;
  opacity: 1.0;
}

.modal-close:active::before,
.modal-close:active::after {
  background-color: red;
  opacity: 0.1;
  border:none;
}

.modal h2 {
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 50px;

  font-size: 45px;
  line-height: 45px;
}

.modal label {
  display: block;
  margin-bottom: 8px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.first-line {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;


  margin-bottom: 30px;
}

.letter input[type="text"]{
  box-sizing: border-box;
  width: 360px;
  padding: 10px 15px;

   
  font-family: "Roboto", "Arial", sans-serif;
  text-transform: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color:rgba(68, 68, 68, 0.5);
  border: 2px solid #d7dcde;
}

.letter input:hover{
  border: 2px solid #b4b9bb;
}

.letter input:focus {
  border: 2px solid #000000;
  color: #444444;
}

.letter-text {
  box-sizing: border-box;
  width: 760px;
  padding: 10px 15px;
  
  font-family: "Roboto", "Arial", sans-serif;
  
  height: 118px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(68, 68, 68, 0.5);
  border: 2px solid #d7dcde;
}

.letter-text:hover{
  border: 2px solid #b4b9bb;
}

.letter-text:focus{
  border: 2px solid #000000;
  color: #444444;
}

.letter-button {
  box-sizing: border-box;
  width: 250px;
  height: 50px;
  margin-top: 45px;
}

