body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arian", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;


  background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.inner-page {
  color:#283136;
  background-color: white;
}

.page-title {
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  color:#000000;

  background-color: #eeeeee;
}

a {
  text-decoration: none;
}

button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align:middle;
  text-transform: uppercase;

  border: none;
}

.main-navigation {
  background-color: #eeeeee;
}

.site-navigation a {
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  text-align: left;
  font-weight: 500;
  
  list-style: none;

  background-color:#eeeeee;
}

.site-navigation a:hover,
.site0navegation a:focus {
  color:#fb565a;
}

.site-navigation a:active {
  color:rgba(0, 0, 0, 0.3);
}

.red-line-catalog {
  border-bottom:1px solid red; 
  color: #000000;
}

.site-navigation {
  margin: 0;
  padding: 0;
}

.page-title {
  margin: 0;
  padding: 0;
}

.catalog-item {
  list-style: none;
  text-align: left;
  color:#000000;
  background-color: #ffffff;
}

.catalog-item h3{
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog-content {
  background-color: #ffffff;
}

.button-red {
  background-color: #fb565a;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  font-weight: 400;
  color:#ffffff;
  width:160px;
  height: 50px;
  text-transform: uppercase;
}

.button-red:hover,
.button-red:focus {
  background-color: #e74246;
}

.button-red:active {
  background-color:#d7373b;
  color:rgba(255, 255, 255, 0.3); 
  box-shadow:0px 3px 0px 0px rgba(0, 1, 1, 0.1)
}

.button-green {
  background-color: #00ca74;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  font-weight: 400;
  color:#ffffff;
  width:160px;
  height: 50px;
}

.button-green:hover,
.button-green:focus {
  background-color: #00bc6c;
}

.button-green:active {
  background-color:#00aa62;
  color:rgba(255, 255, 255, 0.3); 
  box-shadow:0px 3px 0px 0px rgba(0, 1, 1, 0.1)
}

.button-yellow {
  background-color: #efc84a;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  font-weight: 400;
  color:#ffffff;
  width:160px;
  height: 50px;
}

.button-yellow:hover,
.button-yellow:focus {
  background-color: #eab534;
}

.button-yellow:active {
  background-color:#e5a722;
  color:rgba(255, 255, 255, 0.3); 
  box-shadow:0px 3px 0px 0px rgba(0, 1, 1, 0.1)
}

.filters fieldset {
  border: none;
}

.filters legend {
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
  color:#000000;
}

.filter ul {
  list-style:none;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  color: #283136;
}

.catalog-list {
  list-style: none;
}

.filter-input:hover + label,
.filter-inpur:focus + label {
  color: #663d15;
}

.filter-input:disabled + label{
  color: #000000;

  opacity: 0.5;
}

.card {
  background-color:#eeeeee;
}

.card-title {
  background-color:#eeeeee;
  color:#000000;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.card-information {
  background-color:#eeeeee;
  color:#666666;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.card-button {
  background-color: #fb565a;
  color:#ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}
.main-footer {
  color: #444444;
  font-size: 16px;
  line-height: 22px;

  background-color: white;
}

.footer-slogan {
  color: black;
  text-align: left;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  text-decoration: none;
  font-weight:700;
}

.footer-sales {
  color: #444444;
  text-align: left;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color:#ffffff;
  background-color: #e1e1e1;
  text-decoration: none;
  border-radius: 10px;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  background-color:#d7373b;
  box-shadow:0px 3px 0px 0px rgba(0, 1, 1, 0.1)
}

.modal {
  color: #000000;
  background-color:#ffffff;

}

.modal ul {
  list-style: none;
}

.modal h2 {
  font-size: 45px;
  line-height: 45px;
  text-align:left;
}

.modal-letter-lable {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color:white;
}

.modal-letter-input {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color:rgba(68, 68, 68, 0.5);
  text-transform: none;

  background-color: #ffffff;
  border: 2px inset #d7dcde;
}

.modal-letter-input:hover, 
.modal-letter-input:focus {
  color:rgba(68, 68, 68, 0.5);
  border: 2px inset #b4b9bb
}

.modal-letter-input:active {
  columns: #444444;
  border: 2px inset #000000;
}

.box-modal-letter {
  width: 960px;
  height: 590px;
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
}

.letter-submit {
  background-color: #eeeeee;
  color:#000000;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.letter-submit:hover,
.letter-submit:focus {
  background-color: #dfdfdf;
}

.letter-submit:active {
  background-color: #d5d5d5;
  border-color:rgba(0, 0, 0, 0.3);
}

.letter-button {
  background-color: #eeeeee;
  color:#000000;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.letter-button:hover,
.letter-button:focus {
  background-color: #dfdfdf;
}

.letter-button:active {
  background-color: #d5d5d5;
  border-color:rgba(0, 0, 0, 0.3);
}