body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arian", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;


  background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.inner-page {
  color:#283136;
  background-color: white;
}

.page-title {
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  color:#000000;
  
}

.page-title-container {
  margin-top: 98px;
  margin-bottom: 116px;
  background-color: #eeeeee;
}

a {
  text-decoration: none;
}

button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align:middle;
  text-transform: uppercase;

  border: none;
}

.main-navigation {
  background-color: #eeeeee;
}

.site-navigation a {
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  text-align: left;
  font-weight: 500;
  
  list-style: none;

  background-color:#eeeeee;
}

.site-navigation a:hover,
.site0navegation a:focus {
  color:#fb565a;
}

.site-navigation a:active {
  color:rgba(0, 0, 0, 0.3);
}

.user-navigation {
  list-style: none;
}

.red-line-catalog {
  border-bottom:1px solid red; 
  color: #000000;
}

.site-navigation {
  margin: 0;
  padding: 0;
}

.page-title {
  margin: 0;
  padding: 0;
}

.catalog-item {
  display: block;
  list-style: none;
  text-align: left;
  color:#000000;
  background-color: #ffffff;
  width: 300px;
  height: 507px;
}

.catalog-item h3{
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog-content {
  background-color: #ffffff;
}

.button-red {
  background-color: #fb565a;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  font-weight: 400;
  color:#ffffff;
  width:160px;
  height: 50px;
  text-transform: uppercase;
}

.button-red:hover,
.button-red:focus {
  background-color: #e74246;
}

.button-red:active {
  background-color:#d7373b;
  color:rgba(255, 255, 255, 0.3); 
  box-shadow:0px 3px 0px 0px rgba(0, 1, 1, 0.1)
}

.button-green {
  background-color: #00ca74;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  font-weight: 400;
  color:#ffffff;
  width:160px;
  height: 50px;
}

.button-green:hover,
.button-green:focus {
  background-color: #00bc6c;
}

.button-green:active {
  background-color:#00aa62;
  color:rgba(255, 255, 255, 0.3); 
  box-shadow:0px 3px 0px 0px rgba(0, 1, 1, 0.1)
}

.button-yellow {
  background-color: #efc84a;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  font-weight: 400;
  color:#ffffff;
  width:160px;
  height: 50px;
}

.button-yellow:hover,
.button-yellow:focus {
  background-color: #eab534;
}

.button-yellow:active {
  background-color:#e5a722;
  color:rgba(255, 255, 255, 0.3); 
  box-shadow:0px 3px 0px 0px rgba(0, 1, 1, 0.1)
}

.filters fieldset {
  border: none;
}

.filters legend {
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
  color:#000000;
}

.filter ul {
  list-style:none;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  color: #283136;
}

.filter-option {
  list-style: none;
}

.filter-input:hover + label,
.filter-inpur:focus + label {
  color: #663d15;
}

.filter-input:disabled + label{
  color: #000000;

  opacity: 0.5;
}

.filter-button {
  background-color: #eeeeee;
  color:#000000;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.filter-button:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
  box-shadow:inset 0px 3px 0px 0 px rgba(0, 0, 0, 0.3);
}

.card {
  background-color: #eeeeee;
  width: 360px;
  height: 231px;
  margin-right: 40px;
}

.card-title {
  color:#000000;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.card-information {
  color:#666666;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  text-transform: none;
}

.card-button {
  display: block;
  background-color: #fb565a;
  color:#ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: none;
  width: 200px;
  height: 50px;
  margin-left: 80px;
}
.main-footer {
  color: #444444;
  font-size: 16px;
  line-height: 22px;

  background-color: white;
}

.footer-slogan {
  color: black;
  text-align: left;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  text-transform: none;
  font-weight:700;
}

.footer-sales {
  color: #444444;
  text-align: left;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 22px;
  text-transform: none;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color:#ffffff;
  background-color: #e1e1e1;
  text-decoration: none;
  border-radius: 10px;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  background-color:#d7373b;
  box-shadow:0px 3px 0px 0px rgba(0, 1, 1, 0.1)
}

.modal {
  color: #000000;
  background-color:#ffffff;
}

.modal ul {
  list-style: none;
}

.modal h2 {
  font-size: 45px;
  line-height: 45px;
  text-align:left;
}

.modal-letter-lable {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color:white;
}

.modal-letter-input {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color:rgba(68, 68, 68, 0.5);
  text-transform: none;

  background-color: #ffffff;
  border: 2px inset #d7dcde;
}

.modal-letter-input:hover, 
.modal-letter-input:focus {
  color:rgba(68, 68, 68, 0.5);
  border: 2px inset #b4b9bb
}

.modal-letter-input:active {
  columns: #444444;
  border: 2px inset #000000;
}

.box-modal-letter {
  width: 960px;
  height: 590px;
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
}

.letter-button {
  background-color: #eeeeee;
  color:#000000;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.letter-button:hover,
.letter-button:focus {
  background-color: #dfdfdf;
}

.letter-button:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
  box-shadow:inset 0px 3px 0px 0 px rgba(0, 0, 0, 0.3);
}

html,
body {
  min-width: 1122px;
  min-height: 2000;
}

.main-header {
  margin-bottom: 50px;
  background-color:#eeeeee;
  /*временно для сеток*/
  min-height: 70px;
  outline: olivedrab;
  background-color: #eab534;
  
}

.main-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  /*временно для сеток*/
  min-height: 70px;
  
  outline:#00bc6c;
  background-color: #df13a231;
}

.main-header-logo {
  order: 0;
  width: 160px;
  height: 65px;
  /*Временно для сетки*/
 
  background-color: #e5a722;
}

.site-navigation {
  display:flex;
  align-items: center;
  justify-content: space-around;
  width: 620px;
  margin: 0;
  padding: 0;

  list-style: none;

  /*временно для сетки*/
  min-height: 70px;
  background-color: #e74246;
}

.user-navigation {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;
  margin-left: auto;
}

.catalog-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;

  /*временно для сеток*/
  min-height: 285px;
  background-color: #20167e;
  min-width: 1400;
}

.catalog-list {

  display:flex;
  flex-direction:row;
  justify-content:space-between;

 /*временно для сеток*/  
  background-color: blueviolet;
  min-width: 1900;
  min-height: 1000;
}
.catalog.item {
  width: 350px;
  min-height: 468px;
  margin-bottom: 20px;
  margin-right: 100px;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.main-footer {
  display: flex;
  justify-content: space-around;
  /*Только для сеток*/
  background-color: crimson;

}

.footer-social {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*Только для сеток*/
  background-color: rgba(20, 23, 220, 0.753);
}

.footer-words {
  /*Только для сеток*/
  background-color: rgba(67, 220, 20, 0.644);
}

.middle-part-page {
  display: flex;
  /*только для сеток*/
  background-color: cyan;
}

.filters {
   
  min-width: 260px;
  /*только для сеток*/
   background-color: rgb(17, 0, 255);
}

.catalog-list-page-catalog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 800;
  /*только для сеток*/
  background-color: rgb(43, 255, 0);
}

.catalog-item-page-catalog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  max-width: 600;
  margin-bottom: 20px;
  /*только для сеток*/
  background-color: rgb(255, 72, 0);
}

.catalog-item {
  width:360px;
  min-height: 576px;
  margin-right: 40px;
}